/* navbar css */
/* PC CSS */
@media (min-width: 600px) {
  .bm-burger-button {
    display: none;
  }
  .nav {
    display: flex;
    width: 100%;
  }

  .logo {
    width: 30%;
    display: flex;
    padding-left: 200px;
    color: pink;
    font-size: 3rem;
    font-weight: 900;
    font-family: "Playfair Display", serif;
  }

  .menu-list {
    display: flex;
    width: 76%;
    justify-content: right;
    align-items: center;
    font-size: 1.5rem;
    margin-top: 20px;
    margin-right: 50px;
    margin-bottom: 20px;
  }

  /* Footer CSS */
  footer {
    padding-top: 30px;
    text-align: center;
    justify-content: center;
  }

  .link-list li {
    padding: 0;
    padding-top: 10px;
    padding-left: 10px;
  }
}
/* Tablet CSS */
@media (max-width: 1024px) {
  .bm-burger-button {
    display: none;
  }
  .logo {
    width: 20%;
    padding-left: 40px;
    color: pink;
    font-size: 2rem;
    font-weight: 400;
  }

  .menu-list {
    width: 76%;
    font-size: 1rem;
  }

  footer {
    font-size: 0.8rem;
  }
}

/* Smartphone CSS */
@media (max-width: 599px) {
  .nav {
    display: flex;
  }

  .logo {
    text-align: left;
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: pink;
    font-size: 1rem;
    text-align: center;
  }

  .menu-list {
    display: none;
    width: 100%;
    font-size: 0.7rem;
    margin-top: 20px;
    margin-right: 0px;
    margin-bottom: 20px;
  }

  .menu-list li {
    padding-left: 10px;
  }

  /* Hamburger Menu CSS */
  /* Position and sizing of burger button */

  /* バーガーボタンの位置とサイズ */
  .bm-burger-button {
    display: block;
    position: fixed;
    width: 36px;
    height: 30px;
    right: 36px;
    top: 25px;
  }

  /* バーガボタンのバーのスタイル */
  .bm-burger-bars {
    background: #373a47;
  }

  /* バーガーボタンのホバー */
  .bm-burger-bars-hover {
    background: rgb(141, 141, 141);
  }

  /* クロスボタンの位置とサイズ */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }

  /* クロスボタンのカラー・形状 */
  .bm-cross {
    background: #ffffff;
  }

  /*
サイドバーのラッパースタイル - アニメーションが壊れる可能性があるため触るときは注意
*/
  .bm-menu-wrap {
    position: fixed;
    height: 100%;
  }

  /* サイドバーのスタイル */
  .bm-menu {
    background: #373a47;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
  }

  /* bubbleやelasticで必要なモーフの形状 */
  .bm-morph-shape {
    fill: #373a47;
  }

  /* メニューリストのラッパースタイル*/
  .bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
  }

  /* 個々のリストのスタイル */
  .bm-item {
    display: inline-block;
    margin-top: 20px;
    text-align: center;
  }

  /* オーバーレイ(overlay)のスタイリング */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }
}
